/* Color Palette */
:root {
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: rgb(48, 194, 192);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --hot-pink: hsl(324, 73%, 54%);
    --border-radius: 10px;
}

/* Font */
* {
    font-family: "Karla", sans-serif;
}

/* Styling */
body {
    background-color: var(--light-gray);
    margin: 0;
}

header {
    background-color: white;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.subscription {
    background-color: var(--cyan);
    color: white;
    border-bottom-left-radius: var(--border-radius);
}

.why-us {
    background-color: var(--light-cyan);
    color: white;
    border-bottom-right-radius: var(--border-radius);
}

h1 {
    color: var(--cyan);
    font-weight: 700;
    margin-bottom: 0.9em;
}

h2 {
    font-size: 1.4em;
    font-weight: 700;
}

.subheading {
    color: var(--bright-yellow);
}

.description {
    color: var(--grayish-blue);
    line-height: 1.5;
}

p {
    color: white;
    font-size: 1.2em;
}

.amount {
    font-size: 2.2em;
    font-weight: 500;
}

.per-month {
    opacity: 0.5;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.1em;
    opacity: 0.7;
    padding: 0.15em 0;
}

button {
    background-color: var(--bright-yellow);
    color: white;
    border: 0;
    min-width: 100%;
    padding: 1em;
    border-radius: var(--border-radius);
    font-size: 1.2em;
    font-weight: 700;
    margin: 0.9em 0;
    filter: drop-shadow(0 1em 0.5em rgba(0, 0, 0, 0.1));
}

button:hover {
    background-color: white;
    color: var(--light-cyan);
    cursor: pointer;
}

footer p {
    color: var(--grayish-blue);
    font-size: 0.8em;
    margin-top: 1.5em;
    text-align: center;
}

a {
    color: var(--cyan);
}

a:hover {
    color: var(--hot-pink);
}

/* Layout */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: min(50em, 90%);
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(0 1em 1em rgba(152, 166, 189, 0.3));
    margin-top: auto;
}

.container > * {
    padding: 2em 3.5em;
}

footer {
    margin-top: auto;
}

header {
    flex: 1 1 auto;
}

.container section {
    flex: 1;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

.amount {
    margin-right: 0.4em;
}

.full-access {
    margin-top: auto;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        margin: 2em 0;
    }
    
    .container {
        flex-direction: column;
    }

    .container > * {
        padding: 1.5em 2.5em;
    }

    .subscription {
        border-bottom-left-radius: 0;
    }
    
    .why-us {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
    }
}